# dependencies
node_modules

# build
dist
build
.next
coverage

# environment
.env
.env.*

# turborepo
.turbo

# logs
*.log

# IDE
.vscode
.idea

# OS
.DS_Store

apps/agent/.env
apps/agent/.env.*
apps/agent/.venv